@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --background-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #171717;
    --text-color: #213547;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover, a:focus {
  color: #535bf2;
  outline: 2px solid #646cff;  /* Add outline for focus visibility */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: #2d2d2d;
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (prefers-color-scheme: light) {
  button {
    background-color: #f9f9f9;
  }
}

